html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex-shrink: 0;
}

.dropdown-menu .material-icons {
  font-size: 21px;
  vertical-align: middle;
}

*::selection {
  color: white;
  background: #53c157;
}

.is-focused > label {
  color: #3d8b40 !important;
}

.form-group.is-focused .form-control, .bmd-form-group.is-focused .form-control {
  background-image: linear-gradient(0deg,#3d8b40 2px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.bmd-form-group.is-focused .input-group-append {
  color: #4caf50;
}

.dropdown-menu a:hover {
  color: #4caf50;
}

.btn-sair {
  text-decoration: none;
  color: white;
}

.btn-sair:hover {
  text-decoration: none;
}

.title {
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.title-underline {
  width: 20rem;
  height: 0.1rem;
  margin: 0 auto;
}

.separator {
  width: 34rem;
  height: 0.1rem;
  margin: 0 auto;
}

#index-container img {
  opacity: 0.8;
}

.card-link {
  text-decoration: none;
}

.card-link:hover > .card {
  background: #4CAF50;
}

.card {
  transition: background 0.1s linear;
}

.card-link:hover i {
  color: #294024;
}

.card-link:hover > .card > .card-footer > p {
  font-size: 110%;
  color: #173f18;
}

.card > .card-footer {
  line-height: 100%;
}

.card > .card-footer > p {
  font-size: 0.9rem;
}

.card > .card-footer > p {
  transition: all 0.2s cubic-bezier(.58,-1.13,.13,1.95);
}

.size {
  flex: 1 0 auto;
}

.gj-picker-md [role=header], .gj-picker-md [role=arrow], .arrow-begin {
  background: #4CAF50 !important;
}

.arrow-end {
  border-color: #4CAF50 !important;
}

.gj-button-md {
  color: #4CAF50 !important;
}

.table-align-middle > td, .table-align-middle > th {
  vertical-align: middle;
}

.eventos {
  max-height: 450px;
  overflow-y: auto;
}

.evento {
  box-shadow: 2px 2px 5px #888888;
  padding: 4px 0;
  margin: 12px 0;
}

.evento button {
  color: white;
  font-size: 1rem;
  border-radius: 100%;
  margin: auto 0;
  line-height: 1rem;
  padding: 0.4rem 0.6rem;
}

.evento button:hover {
  color: white;
  background: rgba(0,0,0,.2);
}

.evento p {
  vertical-align: middle;
  line-height: 1rem;
  padding: 0.4rem 0;
}

.cartao-amarelo {
  background: #f4d742;
}

.cartao-vermelho {
  background: #e03c3c;
}

.falta {
  background: #42a32f;
}

.gol {
  background: #34639b;
}

.substituicao-s {
  background: #33513f;
}

.substituicao-e {
  background: #332F3f;
}

.table-header-unselectable > thead > tr > th {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.tooltip-inner {
  background: green;
}

#btn-novo {
  background: #4caf50;
}

#btn-novo:hover {
  border: 1px solid #4caf50;
  background: white;
}

.bs-tooltip-left {
  margin-right: 4px;
}

.bs-tooltip-right {
  margin-left: 4px;
}

.input-group-append {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elemento {
  border: 1px solid black;
  background: cyan;
}

.search-form a {
  color: black;
  text-decoration: none;
}

.search-form a:hover i {
  transform: rotate(45deg);
}

.search-form i {
  transition: all 0.1s linear;
}

.bandeira {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bandeira h5 {
  margin-top: 1rem;
}

.bandeira img {
  width: 16em;
  height: 10em;
}

.score {
  min-width: 12rem;
}

.vertical-separator {
  height: 34rem;
  width: 0.1rem;
  margin: auto 0;
}

.estatisticas p {
  margin: 1px 0;
}

.nome-equipe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-jogador {
  z-index: 10;
  flex-direction: row;
}

.card-jogador img {
  width: 375px;
  height: 375px;
}

.card-jogador .card-group > a {
  text-decoration: none;
  color: black;
  position: relative;
}

.card-jogador .card-group > a:hover > .card-overflow {
  opacity: .95;
}

.text-yellow {
  color: #dedf71;
}

.card-jogador .card-group > a > .card {
  min-width: 160px;
}

.card-overflow {
  z-index: 20;
  opacity: 0;
  position: absolute;
  background: green;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity .1s ease-in;
}

.card-bandeira-equipe {
  max-width: 300px;
}

.img-flag {
  max-width: 60px;
}
